/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.content {
		margin-top:			100px;
		margin-bottom:		100px;
		margin-left:		auto;
		margin-right:		auto;
		font-family: 		'FF DIN Pro Light', sans-serif;
		font-family:		'Helvetica Neue', sans-serif;
	/*	font-family:		'Roboto', sans-serif;
		font-family:		'Karla', sans-serif;
		font-family:		'Raleway', sans-serif;*/
		font-size:			10pt;
		line-height:		16pt;
		font-weight:		200;
		font-style:			normal;
		background-color:	rgb(255, 255, 255);
		/*color:				#5a5a5a;*/
		color:				rgb(128, 128, 128);
		padding:			3px;
	}

	.content h1 {
		color:				black;
	}

}

.content {
	width:				500px;
	margin-top:			75px;
	/*margin-bottom:		125px;*/
	margin-left:		auto;
	margin-right:		auto;
	font-family: 		"adobe-garamond-pro",sans-serif;
	font-size:			10pt;
	line-height:		16pt;
	/*font-weight:		100;*/
	font-style:			normal;
	/*letter-spacing: 	0.5pt;*/
	background-color:	rgb(255, 255, 255);
	/*color:				#5a5a5a;*/
	color:				rgb(128, 128, 128);
	/*color:				dimgrey;*/
	/*padding:			3px;*/
	text-align: 		justify;
}

.content h1 {
	font-family: 		"nimbus-sans", sans-serif;
	font-size: 			24pt;
	color:				black;
}

.contact {
	width:				500px;
	margin-bottom:		125px;
	margin-left:		auto;
	margin-right:		auto;
	font-family: 		"nimbus-sans", sans-serif;
	font-size:			10pt;
	line-height:		18pt;
	font-weight:		200;
	font-style:			normal;
	/*letter-spacing: 	0.25pt;*/
	/*display: 			inline;*/
	text-align: 		center;
}

.contact li {
	display: inline;
}

.contact a {
	padding-right: 10px;
}

	a:link {color:rgb(212,175,55); text-decoration:none;}      /* unvisited link */
	a:visited {color:rgb(212,175,55); text-decoration:none;}  /* visited link */
	a:hover {color:rgb(212,175,55); text-decoration:underline;}  /* mouse over link */
	a:active {color:rgb(212,175,55); text-decoration:none;}  /* selected link */
